<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i>Configuration <span>> Profile</span></h1>
    </div>
</div>
<div class="row hidden-mobile">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-picture-o"></i>
            Edit <span>>
			User Profile</span></h2>
    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-color-blueDark">
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <div class="widget-body no-padding">

            <form action="" class="smart-form">

                <fieldset >
                    <section>
                        <label class=" control-label  text-right">Profile Picture: </label>
                        <div ><img src="{{profile.image_path}}" alt="Picture Not Found!!" class="online" style="width:100px;height:100px"/></div>
                    
                    </section><section>
                        <label class="label">File input</label>
                        <label for="file" class="input input-file">
                            <div class="button">
                                <input type="file" name="file" ng-file-select="onFileSelect($files)" onchange="this.parentNode.nextSibling.value = this.value">Browse
                            </div>
                            <input type="text" placeholder="Include some files" readonly="">
                        </label>
                    </section>
                    <section>
                        <label class=" control-label  text-right">Email Address : </label>
                        <input class="form-control" placeholder="Default Text Field" ng-model="profile.email" type="text">
                    </section>
                    <section>
                        <label class="control-label  text-right">Date Of Birth : </label>
                        <input class="form-control" placeholder="Default Text Field" ng-model="profile.dob" type="text">
                    </section>
                    <section>
                        <label class="control-label  text-right">Status : </label>
                        <label class="textarea textarea-expandable">
                        <textarea class="form-control" rows="3" ng-model="profile.status" placeholder="Default Text Field" ></textarea>
                            </label>
                    </section>
                </fieldset>
                
                <footer>
                    <button type="submit" class="btn btn-primary" ng-click="updateUser()">
                        Update
                    </button>
                    <button type="button" class="btn btn-default" onclick="window.history.back();">
                        Back
                    </button>
                </footer>
            </form>
        </div>
    </div>

</div>
