<style>
body {
  padding: 40px 0;
  /*TODO: Use media queries to load smallest image that will fill screen.*/
  background: url(./assets/img/bg.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

</style>
<div class="row">
					<div class="col-xs-12 col-lg-10 col-md-8 col-sm-6 ">
    <div class="container_login ng-scope"><div class="overlay_login">
            <h1 class="header_login">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-fighter-jet fa-stack-1x fa-inverse rotate-45-left"></i>
                </span>
                Snow-White
        </h1>

            <form role="form" class="form-signin">
                <h3 class="form-signin-heading">Please sign in</h3>

                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input type="text" autofocus="" required="" placeholder="Username" ng-model="current.email" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
                    <input type="password" required="" placeholder="Password" ng-model="password" class="form-control">
                </div>

                <div>
                    <label title="Check this to have your username saved for the next time you sign in." class="checkbox">
                        <input type="checkbox" value="remember-me">
                        Remember me
           
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="doLogin()">Sign in</button>
            </form>

            
        </div>
    </div>
                        </div></div>
    <!--<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
						<h1 class="txt-color-red login-header-big">Login</h1>
						<div class="hero">

							<div class="pull-left login-desc-box-l">
								<h5 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of Snow White, everywhere you go!</h5>
								
							</div>
							
							<img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">About Snow-White - Are you up to date?</h5>
								<p>
									</p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">Not just your average tool!</h5>
								<p>
									</p>
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
						<div class="well no-padding">
							<div class="smart-form client-form">
								<header>
									Sign In
								</header>

								<fieldset>
									
									<section>
										<label class="label">E-mail</label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="text" name="email" ng-model="email">
											<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
									</section>

									<section>
										<label class="label">Password</label>
										<label class="input"> <i class="icon-append fa fa-lock"></i>
											<input type="password" name="password" ng-model="password">
											<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
										<div class="note">
											<a href="forgotpassword.html">Forgot password?</a>
										</div>
									</section>

									<section>
										<label class="checkbox">
											<input type="checkbox" name="remember" checked="">
											<i></i>Stay signed in</label>
									</section>
								</fieldset>
								<footer>
									<button type="submit" class="btn btn-primary" ng-click="doLogin()">
										Sign in
									</button>
								</footer>
							</div>

						</div>
						
						<h5 class="text-center"> - Or sign in using -</h5>
															
										<ul class="list-inline text-center">
											<li>
												<a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
											</li>
											<li>
												<a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
											</li>
											<li>
												<a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
											</li>
										</ul>
						
					</div>
				</div>-->